* {
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
}

body {
    background-image: url(/public/assets/img/tri407.jpg);
    padding-top: 10vh;
}

nav {
    background-color: #f1f1e7;
    border-bottom-style : double;
    border-bottom-width: 10px;
    border-color: #6e6964;
    
}

#mainLink {
    color : #f39a9d;
    
}

a:hover {
    color: #f39a9d !important;
    transition: 1s;
}


/* Style pour les gros blocs */

.welcome {
    background-color: #f39a9d;
    border-color: #f1f1e7;
    border-style: double;
    border-width: 10px;
}

.exo {
    background-color: #f39a9d;
    border-top: double;
    border-bottom: double;
    border-color: #f1f1e7;
    border-width: 10px;
    opacity: 0.9;
}

.answerExo {
    background-color: #f1f1e7;
    border-style: dashed;
    border-color: #f39a9d;
    border-width: 5px;
}

.bonus {
    background-color: #f39a9d;
    border-style: dotted;
    border-color: #f1f1e7;
}

.formNote {
    background-color: #f1f1e7;
    border-style: solid;
    border-width: 10px;
    border-color: #f39a9d;
}

#addImg {
    background-color: #6e6963;
    border-style: double;
    border-width: 15px;
    border-color: #f39a9d;
    overflow-y: scroll;
    min-height: 100vh;
}


/* Style pour des éléments plus précis */

h1, h2 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    
}

#titleForm {
    border-width: 20px;
    border-bottom: dashed;
    border-top: dashed;
}


/* Style sur les inputs */

input[type=password]:focus, input[type=text]:focus, input[type=number]:focus, input[type=email]:focus {
    border-color: #f39a9d;
    box-shadow: 0 0 7px #f39a9d;
}

input[type=password], input[type=text], input[type=number], input[type=email] {
    box-shadow: inset 0 0 10px #d5d3d2;
    border-style: double;
    border-width: 5px;
}

    /* ----------------------------------------------- */

    /* Pour retirer le flèche sur un input type number */
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    /* ----------------------------------------------- */


    /* Style sur les boutons */

#send {
    background-color: #f39a9d;
    transition: 1.5s;
}

#send:hover{
    transform: scale(1.2);
    transition: 1.5s;
}

#more {
    background-color: #f39a9d;
    transition: 1.5s;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

#more:hover {
    background-color: #f48585;
    transition: 1.5s;
}


    /* Style sur les images */

img:hover {
    filter: grayscale(0%);
    transition: 1.5s;
}

img {
    filter: grayscale(100%);
    transition: 1.5s;
}



