* {
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
}

body {
    background-image: url(/public/assets/img/tri407.jpg);
    padding-top: 10vh;
}

nav {
    background-color: #f1f1e7;
    border-bottom-style : double;
    border-bottom-width: 10px;
    border-color: #6e6964;
}

a:hover {
    color: #f39a9d !important;
    transition: 1s;
    
}

/* .linkColor {
    background-color: red !important;
} */

.welcome {
    background-color: #f39a9d;
    border-color: #f1f1e7;
    border-style: double;
    border-width: 10px;
}

.exo {
    background-color: #f39a9d;
    border-top: double;
    border-bottom: double;
    border-color: #f1f1e7;
    border-width: 10px;
    opacity: 0.9;
}

.answerExo {
    background-color: #f1f1e7;
    border-style: dashed;
    border-color: #f39a9d;
    border-width: 5px;
}

.bonus {
    background-color: #f39a9d;
    border-style: dotted;
    border-color: #f1f1e7;
}


h1, h2 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    
}

input[type=password]:focus, input[type=text]:focus, input[type=number]:focus, input[type=email]:focus {
    border-color: #f39a9d;
    box-shadow: 0 0 7px #f39a9d;
    
}

#send {
    background-color: #f39a9d;
    transition: 1.5s;
}

#send:hover{
    transform: scale(1.2);
    transition: 1.5s;
}



/* Classes spécifiques d'exercices */

.good {
    border-color:  green;
    box-shadow: 0 0 7px green;
}

.wrong {
    border-color:  red;
    box-shadow: 0 0 7px red;
}

.error::after {
    content: "Le champ n'est pas complété correctement";
    color:red;
}